/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url("https://use.typekit.net/hkv0eoj.css");
html {
  /* color: #222; */
  font-size: 1em;
  line-height: 1.4;
  /* background-color:white; */
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
}

/* This makes the popup hide scrollbars */
#popupbody {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

#foreground {
  position: absolute;
  top: 0;
}

/* #popup {
  width: 790px;
  height: 590px;
  overflow: hidden;
  margin: 0;
  padding: 5px;
} */

#popup-cover {
  /* display:none; */
  background-color: #212121;
  width: 833px;
  /* height:50px; */
  position: absolute;
  top: 2em;
  left: 4em;
  border-radius: 5px;
  border: solid 1px rgba(255, 255, 255, 1);

  background-image: radial-gradient(
      rgba(255, 255, 255, 0.2) 10%,
      transparent 0%
    ),
    radial-gradient(rgba(255, 255, 255, 0.2) 10%, transparent 0%);
  background-color: #212121;
  background-position: 0 0, 5px 5px;
  background-size: 10px 10px;
  /* overflow: auto; */
}

#popup-cover svg {
  margin-top: -4px;
}

#searchprompt {
  position: absolute;
  top: 0px;
}

.search-container {
  padding: 1em 2em 2em 2em;
}

.found-container {
  margin-top: 0.5em;
  padding: 2em 2em 3em 2em;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 -10px white;
  }
  40% {
    box-shadow: 0 0 20px white;
  }
  60% {
    box-shadow: 0 0 20px white;
  }
  100% {
    box-shadow: 0 0 -10px white;
  }
}

#searchpromptbutton {
  background-color: black;
  /* background-image: linear-gradient(270deg, #08457a, #333333); */
  font-family: urw-din;
  text-transform: uppercase;
  padding: 15px 25px 15px 25px;
  /* border-radius: 6px; */
  font-size: 1em;
  color: white;
  font-weight: 700;
  letter-spacing: 2px;

  margin-top: 6em;
  border: 2px solid white;

  animation: glowing 2000ms infinite;
  margin-right: 2em;
}

#searchsettingsbutton {
  background-color: #f08b02;
  background-image: linear-gradient(270deg, #676767, #333333);
  font-family: urw-din;
  text-transform: uppercase;
  padding: 15px 25px 15px 25px;
  border-radius: 205px;
  font-size: 0.8em;
  color: white;
  font-weight: 100;
  letter-spacing: 0px;

  margin-top: 6em;
  border: none;
}

#results {
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  overflow: scroll;
  resize: vertical;
  height: 600px;
  width: 833px;
}

#settings {
  padding-top: 1em;
  padding-right: 2em;
  padding-left: 2em;
  padding-bottom: 3em;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

#popup-cover h2 {
  text-transform: uppercase;
  text-align: center;
  width: 700px;
  letter-spacing: 0px;
  font-family: urw-din;
  font-size: 0.9em;
  font-weight: 500;
  margin-bottom: 0px;
  padding-bottom: 7px;
  padding-left: 7px;
  padding-top: 5px;
  margin-left: 0px;
  color: rgba(0, 0, 0, 0.8);
  background-color: white;
  border: 1px solid white;
}

.container {
  border: 1px solid black;
}

.loader {
  color: white;
  margin-left: 50%;
  margin-top: 12vh;
  transform: translateX(-50%);
  text-align: center;
}
.loader p {
  font-family: urw-din;
  font-size: 1.2em;
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 1px;
}

.card_1 {
  /* background-color: white; */
  box-shadow: 0 0px 8px rgb(255 255 255 / 10%), 0 0px 7px rgb(255 255 255 / 42%);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  height: 100%;
  /* border-radius: 2px; */
  width: 230px !important;
  display: table-cell;
  border: 1px solid white !important;
  position: relative;
}

.card_1 h3 {
  margin: 7px 0 0 12px;
  font-size: 1em;
  font-family: merriweather;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.8);
}

.card_1:hover {
  box-shadow: 0 0px 10px rgb(255 255 255 / 50%),
    0 0px 10px rgb(255 255 255 / 50%);
}

.output-img {
  width: 230px;
  height: 230px;
  /* width: 230px;
  height: 181px; */
}

.search-img {
  /* width: 230px;
  height: 230px; */
  width: 230px;
  height: 186px;
}

.droppable-search {
  margin: 0px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 221px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
    inset 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid white;
}

.droppable {
  margin: 0px;
  display: flex;
  flex-direction: row;
  overflow: auto;
  height: 270px;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.16),
    inset 0 3px 6px rgba(0, 0, 0, 0.23);
  border: 1px solid white;
}
.droppablecont {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  overflow-x: scroll;
  overflow-y: hidden;
  border-collapse: separate;
  border-spacing: 20px;
  padding: 0px;
  width: 100%;
  height: 100%;
  /* background-image: radial-gradient(rgba(255,255,255,0.2) 10%, transparent 0%), radial-gradient( rgba(255,255,255,0.2) 10%, transparent 0%); */
  background-color: black;
  /* background-position: 0 0, 5px 5px;
    background-size: 10px 10px; */
}
.droppablecont::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); */
  background-color: black;
}

.droppablecont::-webkit-scrollbar {
  width: 6px;
  height: 8px;
  background-color: black;
}

.droppablecont::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.788);
  border-radius: 1px;
}

.found-container {
  /* margin-top: 0.5em; */
  margin-top: -1.5em;
}
.draghandle {
  background-color: orange;
}

h2 {
  font-size: 16px;
  margin: 0px;
}

.topbar img {
  position: absolute;
  left: 7px;
  right: 6px;
  height: 25px;
}
.topbar {
  /* width: 100%;
  height: 25px;
  margin: 5px 0 5px 2px; */

  background-color: black;
  width: 100%;
  height: 3em;
  margin: 0 0 0 0;
  border-radius: 5px 5px 0 0;
  border-bottom: solid 1px rgba(255, 255, 255, 1);
  padding-top: 1em;
  padding-left: 1em;

  color: white;
}

.topbar p {
  font-family: urw-din;
  letter-spacing: 1px;
}

.date-wrapper {
  margin-left: 33%;
  width: 225px;
  background-color: #94b6d5;
  /* width: 264px;
  height: 108px;
  background: #ffffff;

  border: 3px solid #000000;
  box-shadow: 0px 9px 4px rgba(0, 0, 0, 0.25); */
}

.refinebar {
  width: 100%;
}

#refinebutton {
  margin-top: -30px;
  margin-left: 50%;
  width: 180px;
  height: 43px;
  transform: translate(-50%, -30%);
  background-color: black;
  font-family: urw-din;
  text-transform: uppercase;
  padding: 14px 30px 20px 39px;

  font-size: 1rem;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  border: solid white 2px;

  box-shadow: 9px 9px 0px 2px rgb(0 0 0 / 100%),
    8px 8px 0px 2px rgb(0 0 0 / 100%), 7px 7px 0px 2px rgb(0 0 0 / 100%),
    6px 6px 0px 2px rgb(0 0 0 / 100%), 5px 5px 0px 2px rgb(0 0 0 / 100%),
    4px 4px 0px 2px rgb(0 0 0 / 100%), 3px 3px 0px 2px rgb(0 0 0 / 100%),
    2px 2px 0px 2px rgb(0 0 0 / 100%), 1px 1px 0px 2px rgb(0 0 0 / 100%);
  transition: all 0.5s ease;
}

/* #refinebutton {
  margin-left: 350px;
  margin-top: 40px;
  width: 200px;
  transform: translate(-50%, -30%);
  background-color: black;
  font-family: urw-din;
  text-transform: uppercase;
  padding: 20px 30px 20px 22px;
  
  font-size: 1.3rem;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  border: solid white 2px;
  
  box-shadow: 9px 9px 0px 2px rgb(0 0 0 / 100%),
    8px 8px 0px 2px rgb(0 0 0 / 100%), 7px 7px 0px 2px rgb(0 0 0 / 100%),
    6px 6px 0px 2px rgb(0 0 0 / 100%), 5px 5px 0px 2px rgb(0 0 0 / 100%),
    4px 4px 0px 2px rgb(0 0 0 / 100%), 3px 3px 0px 2px rgb(0 0 0 / 100%),
    2px 2px 0px 2px rgb(0 0 0 / 100%), 1px 1px 0px 2px rgb(0 0 0 / 100%);
  transition: all 0.5s ease;
} */
#refinebutton:hover {
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(255 255 255 / 12%), 0 1px 2px rgb(255 255 255 / 24%),
    9px 9px 0px 2px rgb(255 255 255 / 100%),
    8px 8px 0px 2px rgb(255 255 255 / 100%),
    7px 7px 0px 2px rgb(255 255 255 / 100%),
    6px 6px 0px 2px rgb(255 255 255 / 100%),
    5px 5px 0px 2px rgb(255 255 255 / 100%),
    4px 4px 0px 2px rgb(255 255 255 / 100%),
    3px 3px 0px 2px rgb(255 255 255 / 100%),
    2px 2px 0px 2px rgb(255 255 255 / 100%),
    1px 1px 0px 2px rgb(255 255 255 / 100%);
}

#refinebutton:active {
  background-color: white;
  /* background-color: rgb(236, 13, 13); */
  color: black;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(255 255 255 / 12%), 0 1px 2px rgb(255 255 255 / 24%),
    5px 5px 0px 2px rgb(255 255 255 / 100%),
    4px 4px 0px 2px rgb(255 255 255 / 100%),
    3px 3px 0px 2px rgb(255 255 255 / 100%),
    2px 2px 0px 2px rgb(255 255 255 / 100%),
    1px 1px 0px 2px rgb(255 255 255 / 100%);
}
.nearby-btn {
  text-transform: uppercase;
  font-family: urw-din;
  font-size: 0.9em;
  font-weight: 500;
  color: rgb(248, 249, 250);
  height: 40px;
  background: #5e809f;
  text-decoration: none;
}

.nearby-btn:hover {
  background: #a39f9f;
}
.activebutton {
  background-color: white !important;
  color: black !important;
  cursor: pointer;
  box-shadow: 0 1px 3px rgb(255 255 255 / 12%), 0 1px 2px rgb(0 0 0 / 24%),
    5px 5px 0px 2px rgb(0 0 0 / 100%), 4px 4px 0px 2px rgb(0 0 0 / 100%),
    3px 3px 0px 2px rgb(0 0 0 / 100%), 2px 2px 0px 2px rgb(0 0 0 / 100%),
    1px 1px 0px 2px rgb(0 0 0 / 100%) !important;
}

#refinebutton svg {
  font-size: 1.3em;
  margin-top: -4px;
  margin-right: -3px;
}

#refineprompt {
  background-color: white;
  width: 20em;
  color: black;
  box-shadow: 0 10px 20px rgb(255 255 255 / 19%),
    0 6px 6px rgb(255 255 255 / 23%);
  border: 2px solid black;
  padding: 10px;
}

#refineprompt p {
  font-size: 0.9em;
}

.skylight-dialog {
  min-height: 400px;
  position: fixed;
  top: 2%;
  left: 25%;
  background-color: black !important;
  color: white;
  padding: 33px !important;
  border: 1px solid white;
  width: 800px !important;
  box-shadow: 0 0px 8px rgb(255 255 255 / 10%), 0 0px 7px rgb(255 255 255 / 42%) !important;
}

.skylight-dialog p {
  padding: 1em;
}

.hiderefine {
  /* color:rgba(255,255,255,0.8);
  background-image: linear-gradient(270deg, grey, grey) !important; */
}

.showrefine {
  /* background-image: linear-gradient(270deg, #f08b02, #30a0a3); */
}
#downloadbutton {
  position: absolute;
  margin: 0 auto;
  left: 68%;

  transform: translate(-50%, -30%);

  background-image: linear-gradient(270deg, #f08b02, #41539e);
  font-family: urw-din;
  text-transform: uppercase;
  padding: 15px 25px 15px 25px;
  border-radius: 205px;
  font-size: 1em;
  color: white;
  font-weight: 100;
  letter-spacing: 0;
  width: 25%;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.cardButtonbar {
  position: absolute;
  width: 100%;
  /* background-color:pink; */
  float: left;
  height: 16%;
  margin-left: 3px;
  margin-top: -35px;
}

.cardButtonbar-top {
  position: absolute;
  width: 100%;
  float: left;
  height: 16%;
  margin-left: 1.5px;
  margin-top: 1.5px;
}

.cardDetails {
  width: 45%;
  float: left;
}

.button {
  background-color: black;
  font-size: 0.7em;
  color: white;
  float: left;
  margin: 5px 2px 5px 2px;
  padding: 5px;
  font-family: urw-din;
  text-transform: uppercase;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}

.keepButton {
  background-color: #f28c75;
  color: black;
}

.dialogImage {
  height: 545px;
  width: 545px;
}

#closebutton {
  margin-right: 1.5em;
  float: right;
  background-color: black;
  padding: 5px;
  color: white;
  margin-top: -20px;
  border-radius: 5px;
  cursor: pointer;
}

.fade-in-image {
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
  -moz-animation: fadeIn 1s;
  -o-animation: fadeIn 1s;
  -ms-animation: fadeIn 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
